<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv="content-type" />
  </head>
  <body>
    <h1>Welcome to THE MUSIC APP, <%= @user.email %></h1>
    <p>
      You have successfully signed up for THE MUSIC APP!
      Your username is: <%= @user.email %>.<br/>
    </p>
    <p>
      To login to the site, just click this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have an awesome day!</p>
  </body>
</html>
